<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">DesCloud</h3>
          <nav class="nav nav-masthead">
            <!--<a class="nav-link active" href="#">Home</a>-->
            <!--<a class="nav-link" href="#"><i class="fa fa-github"></i></a>-->
            <!--<a class="nav-link" href="#">Contact</a>-->
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Cloudware Desktop Service</h1>
        <p class="lead">DesCloud give you a flexible desktop environment, you can open linux desktop in browser with just one click.</p>
        <p class="lead">
          <a href="https://github.com/login/oauth/authorize?client_id=e86a6be6abe38a4c6a56" class="btn btn-lg btn-secondary">Start with github account <i class="fa fa-github"></i></a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Copyright <a href="http://cloudwarehub.com" target="_blank">CloudwareHub</a>, by CloudwareLabs & Tongji University.</p>
        </div>
      </div>

    </div>

  </div>

</div>
